<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="landofcoder" translate="label" sortOrder="999">
            <label>Landofcoder.com</label>
        </tab>
        <section id="lofmobilesociallogin" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
            <label>Mobile Addon - Social Login</label>
            <tab>landofcoder</tab>
            <resource>Lofmobile_SocialLogin::config</resource>
            <group id="general" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                <label>General Setting</label>
                <field id="enabled" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Is Enabled</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="google_sign_in_api" type="text" sortOrder="15" showInWebsite="1" showInStore="1" showInDefault="1" translate="label comment">
                    <label>Google Sign In Api Key</label>
                    <comment>Login with account gmail account and go to https://console.cloud.google.com/apis/credentials create api projects. More guide at here: https://developers.google.com/identity/sign-in/web/sign-in</comment>
                </field>
                <field id="facebook_app_id" type="text" sortOrder="20" showInWebsite="1" showInStore="1" showInDefault="1" translate="label comment">
                    <label>Facebook App ID</label>
                    <comment>Login with facebook account. Create facebook app id</comment>
                </field>
			</group>
        </section>
    </system>
</config>
